build/
/tags
/bazel-*
*.obj
bin-int/Debug/yaml-cpp/yaml-cpp.Build.CppClean.log
*.recipe
bin-int/Debug/yaml-cpp/yaml-cpp.log
*.tlog
bin-int/Debug/yaml-cpp/yaml-cpp.vcxproj.FileListAbsolute.txt
bin-int/Release/yaml-cpp/yaml-cpp.log
*.idb
bin/Debug/yaml-cpp/yaml-cpp.lib
*.pdb
bin/Release/yaml-cpp/yaml-cpp.lib
*.vcxproj
*.filters
*.user
